[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
aiohttp = "*"
igramscraper = "*"
instagramy = "*"
insta-scrape = "*"

[dev-packages]

[requires]
python_version = "3.9"
